@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #2600ff;
  color: white;
  font-weight: bold;
}

.navbar {
  grid-area: navbar;
  background-color: #73ff00;
  color: red;
  padding-left: 2px;
  padding-top: 222px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #2242ab;
}

.main {
  grid-area: main;
  background-color: #5c5c5c;
}

.footer {
  grid-area: footer;
  background-color: #000000;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "navbar"  50px
    "main"    auto
    "sidebar" 100px
    "footer"  100px;
}


#efectos_en{
    font-family: 'Alex Brush', serif;
    font-size: 43px;
    text-align: center;
    padding: 25px;
}
#efectos_men{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 43px;
}

@media (min-width: 600px) {
  .grid-container {

    #efectos_men {
        font-size: 24px;
    grid-template:
      "header  header" 100px
      "navbar  navbar" 50px
      "sidebar main"   auto
      "footer  footer" 100px /
      200px    auto;
  }
}

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header  header header"  100px
      "navbar  main   sidebar" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }
}